@media (max-width: 1440px) {

    body {
        background-color: #17181C;
        /*overflow-x: hidden;*/
    }

    body::-webkit-scrollbar {
        display: none;
    }


    footer {
        width: 90vw;
        margin: auto;
        margin-top: 200px;
    }

    footer>hr  {
        background-color: #EEEEEE;
        height: 15px;
    }

    #footerBottomSection {
        display: flex;
        justify-content: space-between;
    }

    #socialContainer>ul {
        list-style: none;
        display: flex;
    }

    #socialContainer>ul>li {
        margin-right: 50px;
        font-family: "Outfit Thin", sans-serif;

    }

    #socialText {
        padding-left: 40px;
    }

    .versionText, #socialText {
        font-family: "Outfit Thin", sans-serif;
        color: #EEEEEE;
    }

    #socialContainer>ul>li>a  {
        color: #EEEEEE;
        text-decoration: none;
    }

    #versionTextContainer {
        padding-left: 35px;
    }

    #miniPicture  {
        width: clamp(50px, 150px, 200px);
        height: clamp(50px, 150px, 200px);
    }

    #lets-work-together {
        font-family: "Outfit semiBold", sans-serif;
        font-size: clamp(2rem, 6vw, 6.5rem);
        color: #EEEEEE;
        padding-left: 35px;

    }

    #lets-work-together>span  {
        color: #7FC7D9;
    }

    #lets_work_together_container {
        display: flex;
    }

    #getInTouchButtonContainer {
        margin: auto;
        width: 200px;
    }

    #getInTouchButtonCus {
        background-color: #7FC7D9;
        border: none;
        border-radius: 55px;
        width: 250px;
        height: 60px;
        font-family: "Outfit semiBold", sans-serif;
        font-size: 2.1rem;
        color: #17181C;
    }

    #FooterArrow {
        max-width: 200px;
        padding-left: 56vw;
        padding-top: 30px;
    }

    #FooterEmailCus {
        font-family: "Outfit semiBold",sans-serif;
        color: #EEEEEE;
        text-decoration: none;
        font-size: clamp(1rem, 4vw, 2rem);
    }

    #footerEmail_hr {
        height: 5px;
        background-color: #7FC7D9;
        margin-right: 0;
    }

    #FooterEmailContainer {
        padding-left: 35px;
        padding-bottom: 100px;
    }

    /*header*/

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }

    header>div>a {
        text-decoration: none;
        font-family: "Outfit semiBold", sans-serif;
        color: #EEEEEE;
        font-size: 3em;
    }

    header>div>a>span {
        color: #7FC7D9;
    }

    header>div {
        margin-left: 100px;
    }

    header>nav>ul {
        list-style: none;
        display: flex;
        margin-top: 20px;
    }

    header>nav>ul>li>a {
        text-decoration: none;
        color: #EEEEEE;
        font-family: "Outfit Medium", sans-serif;
        font-size: 2em;
    }

    header>nav>ul>li {
        margin-right: 75px;
    }

    header>nav {
        margin-right: 50px;
    }

    /*mainIntro*/

    .Intro {
        color: #EEEEEE;
        font-family: "Outfit Black", sans-serif;
        font-weight: bold;
        font-size: 350px;
        text-align: center;
        line-height: 900px;
        margin-top: -100px;
    }

    main>div>span {
        color: #7FC7D9;
    }

    main>div>hr {
        height: 30px;
        background-color: #7FC7D9;
    }

    #AMhr {
        width: 550px;
        margin: -280px auto 500px;
    }

    #ShenanHr {
        width: 1340px;
        margin: -280px auto auto;
    }

    #vindinuHr {
        width: 1260px;
        margin: -280px auto auto;
    }

    #what-i-do {
        color: #EEEEEE;
        font-family: "Outfit Medium", sans-serif;
        font-size: 3.5em;
    }

    #whatIDoContainer {
        display: flex;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 300px;
    }

    article>img {
        padding-left: 600px;
    }

    article>div>p {
        color: #EEEEEE;
        font-family: "Outfit Light", sans-serif;
        margin-left: 100px;
    }

    #what-i-do>span {
        color: #7FC7D9;
    }

    #paragraphIHelp {
        margin-top: -150px;
        margin-bottom: 250px;
    }

    #alsoSection>hr {
        height: 10px;
        width: 1200px;
        background-color: #EEEEEE;
    }

    #also {
        font-family: "Outfit Light", sans-serif;
        color: #EEEEEE;
        font-size: 2.5em;
        margin-bottom: 0;
        margin-left: 170px;
    }

    #also>span {
        color: #F24822;
    }

    #alsoSection>div {
        display: flex;
        font-family: "Outfit Light",sans-serif;
        color: #EEEEEE;
        font-size: 3em;
    }

    #alsoSection>div>h1>span {
        color: #F24822;
    }

    #alsoSection>div>img {
        width: 450px;
        height: 450px;
        margin-top: 115px;
        margin-bottom: 50px;
        margin-left: 150px;
    }

    #ijse-student {
        margin-left: 200px;
    }

    #and-my-skills-are {
        color: #EEEEEE;
        font-family: "Outfit Medium", sans-serif;
        font-size: 5em;
        display: flex;
        margin-left: 170px;
        margin-top: 50px;
    }


    #and-my-skills-are>div>span {
        color: #7FC7D9;
    }

    #and-my-skills-are>img {
        width: 200px;
        height: 270px;
        margin-top: 350px;
        margin-left: 100px;
    }

    #skillsSection>img {
        display: block;
        margin: 100px auto;
    }

    #skillsSection>hr {
        height: 10px;
        background-color: #EEEEEE;
        width: 1300px;
        margin-bottom: 150px;
    }

    #SE {
        font-family: "Outfit Medium", sans-serif;
        color: #EEEEEE;
        font-size: 5em;
        margin-left: 120px;
    }

    #SE>span {
        color: #7FC7D9;
    }

    #uiDesignImage {
        margin-left: 110px;
        margin-top: 50px;
        width: 1320px;
    }

    #downArrowSE {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }

    #what-i-bring {
        font-family: "Outfit Medium", sans-serif;
        color: #EEEEEE;
        font-size: 5em;
        margin-left: 120px;
        margin-top: 100px;
    }

    #what-i-bring>span {
        color: #7FC7D9;
    }

    #SEhr {
        height: 10px;
        background-color: #EEEEEE;
        width: 1300px;
        margin-top: 100px;
    }

    #what-i-does {
        color: #EEEEEE;
        font-family: "Outfit Medium", sans-serif;
        font-size: 12em;
        margin-left: 300px;
        margin-top: 250px;
    }

    #what-i-does>span {
        color: #7FC7D9;
    }

    #what-i-doesHr {
        height: 20px;
        background-color: #7FC7D9;
        border: none;
        width: 925px;
        margin-top: -5px;
        margin-bottom: 200px;
    }

    #what_i_does_subContainer {
        display: flex;
        justify-content: space-between;
        margin-left: 60px;
        margin-right: 60px;
    }

    .ThreeImgHeadlines {
        color: #EEEEEE;
        font-family: "Outfit Medium", sans-serif;
        font-size: 2em;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .ThreeImgHeadlines>span {
        color: #7FC7D9;
    }

    .whatIDoesParagraphs {
        color: #EEEEEE;
        font-family: "Outfit Medium", sans-serif;
        font-size: 1.5em;
    }

    .whatIDoesParagraphs>span {
        color: #7FC7D9;
    }

    #happyFaceAndTreeContainer {
        display: flex;
        margin-top: 100px;
    }

    #treesBg {
        width: 100vw;
    }

    #happyFace {
        position: relative;
        margin-left: -960px;
        margin-top: 50px;
        width: 25%;
        height: 25%;
    }
}