@media (max-width: 768px) {

    body {
        background-color: #17181C;
        overflow-x: hidden;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        margin-top: 30px;
    }

    header > a {
        text-decoration: none;
        font-family: 'Outfit SemiBold',sans-serif;
        color: #EEEEEE;
        font-size: 3em;
        margin-right: 30px;
    }

    header > a > span {
        color: #7FC7D9;
    }

    header > nav {
        display: none;
    }

    #hamburgerButton {
        border: none;
        background-color: #17181c;
        width: 55px;
        height: 55px;
        margin-left: 55px;
        display: block;
    }

    header > button > img {
        width: 45px;
        height: 45px;
    }

    #enan {
        display: none;
    }

    #socialContainer {
        display: none;
    }

    #versionTextContainer {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    article {
        flex-direction: column;
    }

    #ShenanGreyScaleImg {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
    }

    #what-i-do {
        text-align: center;
    }

    #paragraphIHelp {
        margin-top: 15vh;
        text-align: center;
    }

    #whatIDoesSubContainer {
        width: 50vw;
    }

    #treesBg {
        display: none;
    }

    #happyFace {
        display: block;
        margin-bottom: 30vh;
        margin-top: 30vh;
    }

}

@media (max-width: 376px) {

    #whatIDoesSubContainer {
        width: 110vw;
    }

    .threeImages {
        width: 80vw;
    }

    body {
        position: absolute;
        overflow-x: clip !important;
    }

}