@media (max-width: 768px) {

    header {
        margin-top: 3vh;
    }

    #headerLineSection {
        display: none;
    }

    #ShContainer {
        margin-right: 5vw;
        margin-top: 10px;
        text-decoration: none;
        font-family: "Outfit SemiBold", sans-serif;
        color: #EEEEEE;
        font-size: 3em;
        display: block;
    }

    #ShContainer > a > span {
        color: #7FC7D9;
    }


    #sideLine {
        display: none;
    }

    .web-designer > span {
        display: none;
    }

    .web-designer {
        font-size: clamp(10rem, 30vw, 15rem);
        line-height: 28vh;
    }

    .web-designer:nth-child(1) {
        margin-left: 25vw;
    }

    .web-designer:nth-child(2) {
        margin-left: 3vw;
    }

    .web-designer:nth-child(3) {
        margin-left: -20vw;
    }

    #profileMainPicCus {
        margin-top: 20vh;
        border-radius: 300px;
    }

    #profileMainPic {
        position: absolute;
        max-width: 100%;
    }

    #intro {
        margin-top: 5vh;
    }

    #socialContainer {
        display: none;
    }

    #versionTextContainer {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }


}

@media (max-width: 375px) {

    .web-designer:nth-child(1) {
        margin-left: 0;
    }

    .web-designer:nth-child(2) {
        margin-left: 0;
    }

    .web-designer:nth-child(3) {
        margin-left: 0;
    }

    body {
        position: relative;
        overflow-x: clip !important;
    }

    #profileMainPic {
        padding-left: 0;
    }

    #profileMainPicCus {
        height: clamp(200px, 100vw, 800px);
        width: clamp(350px, 100vw, 950px);
        margin-top: 15vh;
    }

    #hamburgerButton {
        margin-left: 20px;
    }
}