body {
    background-color: #17181C;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/*header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

#hamburgerButton {
    border: none;
    background-color: #17181c;
    width: 55px;
    height: 55px;
    padding-top: 5px;
    padding-left: 40px;
}

header>button>img {
    width: 55px;
    height: 55px;
}

#headerLineSection {
    padding-right: 150px;
    position: relative;
    bottom: 10px;
}

header>div>img {
    width: 130px;
    height: 40px;
    color: #D9D9D9;
}

#shenanVindinu {
    font-family: "Outfit regular", sans-serif;
    color: #EEEEEE;
    font-size: 1.5em;
    padding: 20px 0 0 0;
    position: relative;
    right: 20px;
}

footer {
    width: 90vw;
    margin: auto;
    margin-top: 200px;
}

footer>hr  {
    background-color: #EEEEEE;
    height: 15px;
}

#footerBottomSection {
    display: flex;
    justify-content: space-between;
}

#socialContainer>ul {
    list-style: none;
    display: flex;
}

#socialContainer>ul>li {
    margin-right: 50px;
    font-family: "Outfit Thin", sans-serif;

}

#socialText {
    padding-left: 40px;
}

.versionText, #socialText {
    font-family: "Outfit Thin", sans-serif;
    color: #EEEEEE;
}

#socialContainer>ul>li>a  {
    color: #EEEEEE;
    text-decoration: none;
}

#versionTextContainer {
    padding-left: 35px;
}

#miniPicture  {
    width: 200px;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

#lets-work-together {
    font-family: "Outfit semiBold", sans-serif;
    font-size: clamp(2rem, 10vw, 6.5rem);
    color: #EEEEEE;
    padding-left: 35px;

}

#lets-work-together>span  {
    color: #7FC7D9;
}

#lets_work_together_container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#getInTouchButtonContainer {
    margin: auto;
    width: 300px;
}

#getInTouchButtonCus {
    background-color: #7FC7D9;
    border: none;
    border-radius: 55px;
    width: 300px;
    height: 90px;
    font-family: "Outfit semiBold", sans-serif;
    font-size: 2.7em;
    color: #17181C;
}

#FooterArrow {
    width: 250px;
    padding-left: 56vw;
    padding-top: 30px;
}

#FooterEmailCus {
    font-family: "Outfit semiBold",sans-serif;
    color: #EEEEEE;
    text-decoration: none;
    font-size: 2em;
}

#footerEmail_hr {
    height: 5px;
    width: 400px;
    background-color: #7FC7D9;
    margin-left: 0;
}

#FooterEmailContainer {
    padding-left: 35px;
    padding-bottom: 100px;
}

/*Main Home*/
.web-designer {
    color: #EEEEEE;
    font-family: "Outfit semiBold", sans-serif;
    font-size: clamp(5rem, 13vw, 13rem);
    margin: 1px;
}

.web-designer:nth-child(2) {
    color: #7FC7D9;
}

#webDesignerContainer {
    margin-left: auto;
    margin-right: 3.5%;
    /*width: 90vw;*/
}

#webDesignerContainer2 {
    display: grid;
    justify-items: center;
    justify-content: center;
    padding-right: 2vw;
}

#sideLine {
    margin-top: 20px;
}

section>main {
    display: flex;
    justify-content: flex-end;
}

#sideLine>img {
    display: flex;
    height: clamp(40px, 40vw, 650px);
}

#profileMainPicCus {
    /*height="800px" width="950px"*/
    height: clamp(200px, 50vw, 800px);
    width: clamp(350px, 60vw, 950px);
}

.brIntro {
    display: none;
}

#profileMainPic {
    position: absolute;
    padding-left: 20vw;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#intro {
    color: #EEEEEE;
    font-family: "Outfit regular", sans-serif;
    font-size: clamp(2rem, 5vw, 5rem);
    margin-left: 5vw;
    margin-top: 10vh;
}

#intro>span {
    color: #7FC7D9;
}

#recentWorkHr {
    background-color: #EEEEEE;
    height: 15px;
    width: 90vw;

}

#recentWorkContainer {
    display: block;
    width: 90vw;
    margin: auto;
}

#recent-work {
    color: #7FC7D9;
    font-family: "Outfit regular", sans-serif;
    font-size: 1.5em;
    margin-top: 300px;
}

#recentWorkContainer>hr {
    border: 2px solid #7FC7D9;
    margin-top: 60px;
}

nav>div>a {
    color: #EEEEEE;
    text-decoration: none;
    font-family: "Outfit Medium", sans-serif;
    font-size: 15em;
}

#moreWorkButtonCus {
    background-color: #7FC7D9;
    width: 250px;
    height: 80px;
    border: none;
    border-radius: 45px;
    font-family: "Outfit Medium", sans-serif;
    font-size: 2.5em;
}

#moreWorkButtonContainer {
    width: 250px;
    margin: 180px auto 350px;
}



/*body {*/
/*    background-color: #17181c;*/
/*}*/

/*body::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

/*!*header*!*/

/*header {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    margin: 0;*/
/*}*/

/*#hamburgerButton {*/
/*    border: none;*/
/*    background-color: #17181c;*/
/*    width: 55px;*/
/*    height: 55px;*/
/*    padding-top: 5px;*/
/*    padding-left: 40px;*/
/*}*/

/*header>button>img {*/
/*    width: 55px;*/
/*    height: 55px;*/
/*}*/

/*#headerLineSection {*/
/*    padding-right: 200px;*/
/*    position: relative;*/
/*    bottom: 10px;*/
/*}*/

/*header>div>img {*/
/*    width: 130px;*/
/*    height: 40px;*/
/*    color: #D9D9D9;*/
/*}*/

/*#shenanVindinu {*/
/*    font-family: "Outfit regular", sans-serif;*/
/*    color: #EEEEEE;*/
/*    font-size: 1.5em;*/
/*    padding: 20px 0 0 0;*/
/*    position: relative;*/
/*    right: 20px;*/
/*}*/

/*footer {*/
/*    display: block;*/
/*    clear: both;*/
/*}*/

/*footer>hr  {*/
/*    background-color: #EEEEEE;*/
/*    height: 15px;*/
/*    width: 1800px;*/
/*}*/

/*#footerBottomSection {*/
/*    display: flex;*/
/*    align-items: end;*/
/*}*/

/*#socialContainer>ul {*/
/*    list-style: none;*/
/*    display: flex;*/
/*}*/

/*#socialContainer>ul>li {*/
/*    margin-right: 50px;*/
/*    font-family: "Outfit Thin", sans-serif;*/

/*}*/

/*#socialText {*/
/*    padding-left: 40px;*/
/*}*/

/*.versionText, #socialText {*/
/*    font-family: "Outfit Thin", sans-serif;*/
/*    color: #EEEEEE;*/
/*}*/

/*#socialContainer>ul>li>a  {*/
/*    color: #EEEEEE;*/
/*    text-decoration: none;*/
/*}*/

/*#socialContainer {*/
/*    padding-left: 70vw;*/
/*}*/

/*#versionTextContainer {*/
/*    padding-left: 35px;*/
/*}*/

/*#miniPicture  {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    padding-left: 16vw;*/
/*    padding-top: 7vh;*/
/*}*/

/*#lets-work-together {*/
/*    font-family: "Outfit semiBold", sans-serif;*/
/*    font-size: 6.5em;*/
/*    color: #EEEEEE;*/
/*    padding-left: 35px;*/
/*    margin-bottom: 0;*/

/*}*/

/*#lets-work-together>span  {*/
/*    color: #7FC7D9;*/
/*}*/

/*#lets_work_together_container {*/
/*    display: flex;*/
/*}*/

/*#getInTouchButtonContainer {*/
/*    padding-left: 41vw;*/
/*    padding-top: 0;*/
/*}*/

/*#getInTouchButtonCus {*/
/*    background-color: #7FC7D9;*/
/*    border: none;*/
/*    border-radius: 55px;*/
/*    width: 300px;*/
/*    height: 90px;*/
/*    font-family: "Outfit semiBold", sans-serif;*/
/*    font-size: 2.7em;*/
/*    color: #17181C;*/
/*}*/

/*#FooterArrow {*/
/*    width: 300px;*/
/*    padding-left: 53vw;*/
/*    padding-top: 30px;*/
/*}*/

/*#FooterEmailCus {*/
/*    font-family: "Outfit semiBold",sans-serif;*/
/*    color: #EEEEEE;*/
/*    text-decoration: none;*/
/*    font-size: 2em;*/
/*}*/

/*#footerEmail_hr {*/
/*    height: 5px;*/
/*    width: 400px;*/
/*    background-color: #7FC7D9;*/
/*    margin-left: 0;*/
/*}*/

/*#FooterEmailContainer {*/
/*    padding-left: 35px;*/
/*    padding-bottom: 100px;*/
/*}*/

/*!*Main Home*!*/
/*.web-designer {*/
/*    color: #EEEEEE;*/
/*    font-family: "Outfit semiBold", sans-serif;*/
/*    font-size: 16em;*/
/*    margin: -60px;*/
/*}*/

/*.web-designer:nth-child(2) {*/
/*    color: #7FC7D9;*/
/*}*/

/*#webDesignerContainer {*/
/*    display: flex;*/
/*    margin-left: 9vw;*/
/*    margin-top: 16px;*/
/*}*/

/*#sideLine {*/
/*    margin-left: 0;*/
/*    position: relative;*/
/*    left: 210px;*/
/*    margin-top: 20px;*/
/*}*/

/*#profileMainPic {*/
/*    position: absolute;*/
/*    padding-left: 14.1vw;*/
/*    top: 55px;*/
/*}*/

/*#intro {*/
/*    color: #EEEEEE;*/
/*    font-family: "Outfit regular", sans-serif;*/
/*    font-size: 7em;*/
/*    margin-left: 120px;*/
/*    margin-top: 300px;*/
/*}*/

/*#intro>span {*/
/*    color: #7FC7D9;*/
/*}*/

/*#recentWorkHr {*/
/*    background-color: #EEEEEE;*/
/*    height: 15px;*/
/*    width: 1800px;*/

/*}*/

/*#recentWorkContainer {*/
/*    display: block;*/
/*    width: 1750px;*/
/*    margin-left: 4.1vw;*/
/*}*/

/*#recent-work {*/
/*    color: #7FC7D9;*/
/*    font-family: "Outfit regular", sans-serif;*/
/*    font-size: 1.5em;*/
/*    margin-top: 300px;*/
/*}*/

/*#recentWorkContainer>hr {*/
/*    border: 2px solid #7FC7D9;*/
/*    margin-top: 60px;*/
/*}*/

/*nav>div>a {*/
/*    color: #EEEEEE;*/
/*    text-decoration: none;*/
/*    font-family: "Outfit Medium", sans-serif;*/
/*    font-size: 15em;*/
/*}*/

/*#moreWorkButtonCus {*/
/*    background-color: #7FC7D9;*/
/*    width: 350px;*/
/*    height: 100px;*/
/*    border: none;*/
/*    border-radius: 45px;*/
/*    font-family: "Outfit Medium", sans-serif;*/
/*    font-size: 3em;*/
/*}*/

/*#moreWorkButtonContainer {*/
/*    margin-left: 36vw;*/
/*    margin-top: 180px;*/
/*    margin-bottom: 350px;*/
/*}*/

/*#profileMainPicCus {*/
/*    !*height="800px" width="950px"*!*/
/*    height: 800px;*/
/*    width: 950px;*/
/*}*/

/*.brIntro {*/
/*    display: none;*/
/*}*/