@media (max-width: 768px) {

    header {
        margin-top: 3vh;
    }

    #headerLineSection {
        display: none;
    }

    #ShContainer {
        margin-right: 5vw;
        margin-top: 10px;
        text-decoration: none;
        font-family: "Outfit semiBold", sans-serif;
        color: #EEEEEE;
        font-size: 3em;
        display: block;
    }

    #ShContainer>a>span {
        color: #7FC7D9;
    }


    #sideLine {
        display: none;
    }

    .web-designer>span {
        display: none;
    }

    .web-designer {
        /*font-size: 15rem;*/
        font-size: clamp(12rem, 30vw, 15rem);
        line-height: 28vh;
    }

    .web-designer:nth-child(1) {
        margin-left: 25vw;
    }

    .web-designer:nth-child(2) {
        margin-left: 3vw;
    }

    .web-designer:nth-child(3) {
        margin-left: -20vw;
    }

    #profileMainPicCus {
        margin-top: 10vh;
        width: clamp(80vw,90vw,90vw);
        height: clamp(50vh,70vh,70vh);
        border-radius: 300px;
    }

    #profileMainPic {
        position: absolute;
        padding-left: 6vw;
    }

    #socialContainer {
        display: none;
    }

    #versionTextContainer {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }


}

@media (max-width: 535px) {

    #profileMainPicCus {
        margin-top: 10vh;
        width: clamp(110vw,90vw,90vw);
        height: clamp(50vh,70vh,70vh);
    }

    #profileMainPic {
        position: absolute;
        padding-left: 0;
    }

}

@media (max-width: 376px) {
    .web-designer {
        font-size: clamp(10rem, 20vw, 15rem);
        line-height: 25vh;
        margin-top: 25px;
    }

    .web-designer:nth-child(1) {
        margin-left: 20vw;
    }

    .web-designer:nth-child(2) {
        margin-left: 20vw;
    }

    .web-designer:nth-child(3) {
        margin-left: 20vw;
    }
}