body {
    background-color: #17181C;
    /*overflow-x: hidden;*/
}

body::-webkit-scrollbar {
    display: none;
}

/*header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hamburgerButton {
    border: none;
    background-color: #17181c;
    width: 55px;
    height: 55px;
    padding-top: 5px;
    padding-left: 40px;
}

header>button>img {
    width: 55px;
    height: 55px;
}

#headerLineSection {
    padding-right: 7vw;
    position: relative;
    bottom: 10px;
}

#ShContainer {
    display: none;
}

header>div>img {
    width: clamp(50px,15vw,130px);
    height: clamp(5px,15vw,40px);
    color: #D9D9D9;
}

#shenanVindinu {
    font-family: "Outfit regular", sans-serif;
    color: #EEEEEE;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    padding: 20px 0 0 0;
    position: relative;
    right: 20px;
}

footer {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

footer>hr  {
    background-color: #EEEEEE;
    height: 15px;
}

#footerBottomSection {
    display: flex;
    justify-content: space-between;
}

#socialContainer>ul {
    list-style: none;
    display: flex;
}

#socialContainer>ul>li {
    margin-right: 50px;
    font-family: "Outfit Thin", sans-serif;

}

#socialText {
    padding-left: 40px;
}

.versionText, #socialText {
    font-family: "Outfit Thin", sans-serif;
    color: #EEEEEE;
}

#socialContainer>ul>li>a  {
    color: #EEEEEE;
    text-decoration: none;
}

#versionTextContainer {
    padding-left: 35px;
}

#miniPicture  {
    width: 200px;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

#lets-work-together {
    font-family: "Outfit semiBold", sans-serif;
    font-size: clamp(2rem, 10vw, 6.5rem);
    color: #EEEEEE;
    padding-left: 35px;

}

#lets-work-together>span  {
    color: #7FC7D9;
}

#lets_work_together_container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#getInTouchButtonContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 300px;
}

#getInTouchButtonCus {
    background-color: #7FC7D9;
    border: none;
    border-radius: 55px;
    width: 300px;
    height: 90px;
    font-family: "Outfit semiBold", sans-serif;
    font-size: 2.7em;
    color: #17181C;
}

#FooterArrow {
    width: 150px;
    padding-left: 56vw;
    padding-top: 30px;
}

#FooterEmailCus {
    font-family: "Outfit semiBold",sans-serif;
    color: #EEEEEE;
    text-decoration: none;
    font-size: 2em;
}

#footerEmail_hr {
    height: 5px;
    width: 380px;
    background-color: #7FC7D9;
    border: none;
}

#FooterEmailContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

/*Main Home*/
.web-designer {
    color: #EEEEEE;
    font-family: "Outfit semiBold", sans-serif;
    font-size: clamp(5rem, 13vw, 15rem);
    margin: -5px;
}

.web-designer:nth-child(2) {
    color: #7FC7D9;
}

#webDesignerContainer {
    margin-left: auto;
    margin-right: auto;
    /*width: 90vw;*/
}

#webDesignerContainer2 {
    display: grid;
    justify-items: center;
    justify-content: center;
    padding-right: 2vw;
}

#sideLine {
    margin-top: 20px;
}

section>main {
    display: flex;
    justify-content: flex-end;
}

#sideLine>img {
    display: flex;
    height: clamp(40px, 40vw, 650px);
}

#profileMainPicCus {
    /*height="800px" width="950px"*/
    height: clamp(200px, 50vw, 800px);
    width: clamp(350px, 60vw, 950px);
}

.brIntro {
    display: none;
}

#profileMainPic {
    position: absolute;
    padding-left: 20vw;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#intro {
    color: #EEEEEE;
    font-family: "Outfit regular", sans-serif;
    font-size: clamp(2rem, 5vw, 5rem);
    margin-left: 5vw;
    margin-top: 10vh;
}

#intro>span {
    color: #7FC7D9;
}

#recentWorkHr {
    background-color: #EEEEEE;
    height: 15px;
    width: 90vw;

}

#recentWorkContainer {
    display: block;
    width: 90vw;
    margin: auto;
}

#recent-work {
    color: #7FC7D9;
    font-family: "Outfit regular", sans-serif;
    font-size: 1.5em;
    margin-top: 20vh;
}

#recentWorkContainer>hr {
    border: 2px solid #7FC7D9;
    margin-top: 5vh;
}

nav>div>a {
    color: #EEEEEE;
    text-decoration: none;
    font-family: "Outfit Medium", sans-serif;
    font-size: clamp(5rem, 20vw, 15rem);
}

#redUnderline {
    width: 70vw;
}

#moreWorkButtonCus {
    background-color: #7FC7D9;
    width: clamp(200px, 40vw, 250px);
    height: clamp(80px, 10vw, 80px);
    border: none;
    border-radius: 45px;
    font-family: "Outfit Medium", sans-serif;
    font-size: clamp(2rem, 5vw, 2.5rem);
}

#moreWorkButtonContainer {
    width: 215px;
    margin: 10vh auto 25vh;
}