body {
    background-color: #17181C;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}


footer {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

footer>hr  {
    background-color: #EEEEEE;
    height: 15px;
}

#footerBottomSection {
    display: flex;
    justify-content: space-between;
}

#socialContainer>ul {
    list-style: none;
    display: flex;
}

#socialContainer>ul>li {
    margin-right: 50px;
    font-family: "Outfit Thin", sans-serif;

}

#socialText {
    padding-left: 40px;
}

.versionText, #socialText {
    font-family: "Outfit Thin", sans-serif;
    color: #EEEEEE;
}

#socialContainer>ul>li>a  {
    color: #EEEEEE;
    text-decoration: none;
}

#versionTextContainer {
    padding-left: 35px;
}

#miniPicture  {
    width: 200px;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

#lets-work-together {
    font-family: "Outfit semiBold", sans-serif;
    font-size: clamp(2rem, 10vw, 6.5rem);
    color: #EEEEEE;
    padding-left: 35px;

}

#lets-work-together>span  {
    color: #7FC7D9;
}

#lets_work_together_container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#getInTouchButtonContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 300px;
}

#getInTouchButtonCus {
    background-color: #7FC7D9;
    border: none;
    border-radius: 55px;
    width: 300px;
    height: 90px;
    font-family: "Outfit semiBold", sans-serif;
    font-size: 2.7em;
    color: #17181C;
}

#FooterArrow {
    width: 150px;
    padding-left: 56vw;
    padding-top: 30px;
}

#FooterEmailCus {
    font-family: "Outfit semiBold",sans-serif;
    color: #EEEEEE;
    text-decoration: none;
    font-size: 2em;
}

#footerEmail_hr {
    height: 5px;
    width: 380px;
    background-color: #7FC7D9;
    border: none;
}

#FooterEmailContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

/*header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

header>div>a {
    text-decoration: none;
    font-family: "Outfit semiBold", sans-serif;
    color: #EEEEEE;
    font-size: 3em;
}

header>div>a>span {
    color: #7FC7D9;
}

header>div {
    margin-left: 100px;
}

header>nav>ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
}

header>nav>ul>li>a {
    text-decoration: none;
    color: #EEEEEE;
    font-family: "Outfit Medium", sans-serif;
    font-size: 2em;
}

header>nav>ul>li {
    margin-right: 75px;
}

header>nav {
    margin-right: 50px;
}

#hamburgerButton {
    display: none;
}

#enan {
    color: #EEEEEE;
}

/*heading*/
main {
    color: #EEEEEE;
    font-family: "Outfit regular", sans-serif;
    font-size: 13em;
        margin: 100px auto 250px 50px;
}

main>span {
    color: #7FC7D9;
}

#recentWorkContainer {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#recentWorkContainer>hr {
    width: 90vw;
    height: 5px;
    background-color: #7FC7D9;
    margin-bottom: 50px;
    margin-top: 50px;
    border: none;
}

#recentWorkContainer>a {
    color: #EEEEEE;
    text-decoration: none;
    font-family: "Outfit Medium", sans-serif;
    font-size: clamp(5rem, 20vw, 15rem);
}

.redUnderline {
    width: 70vw;
    margin-top: 10px;
}

#myAssignmentsHeading {
    color: #EEEEEE;
    font-family: "Outfit regular", sans-serif;
    font-size: 2em;
}

#AssignmentContainer {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20vh;
}

#AssignmentContainer>hr {
    width: 90vw;
    height: 5px;
    background-color: #7FC7D9;
    margin-bottom: 50px;
    margin-top: 50px;
    border: none;
}

#AssignmentContainer>a {
    color: #EEEEEE;
    text-decoration: none;
    font-family: "Outfit Medium", sans-serif;
    font-size: clamp(4rem, 13vw, 15rem);
}
