@media (max-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        margin-top: 30px;
    }

    header > a {
        text-decoration: none;
        font-family: 'Outfit SemiBold', sans-serif;
        color: #EEEEEE;
        font-size: 3em;
        margin-right: 30px;
    }

    header > a > span {
        color: #7FC7D9;
    }

    header > nav {
        display: none;
    }

    header > div {
        display: block;
        margin-right: 3vw;
    }

    #hamburgerButton {
        border: none;
        background-color: #17181c;
        width: 55px;
        height: 55px;
        margin-left: 5vw;
        display: block;
    }

    header > button > img {
        width: 45px;
        height: 45px;
    }

    #socialContainer {
        display: none;
    }

    #versionTextContainer {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    #Images {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        position: absolute;
    }

    #Images {
        display: flex;
        flex-direction: column;
        width: 80vw;
        justify-content: space-evenly;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
        gap: 100px;
    }

}