@media (min-width: 1920px) {
    body {
        background-color: #17181C;
        /*overflow-x: hidden;*/
    }

    body::-webkit-scrollbar {
        display: none;
    }


    footer {
        display: block;
        clear: both;
        margin-top: 200px;
    }

    footer>hr  {
        background-color: #EEEEEE;
        height: 15px;
        width: 1800px;
    }

    #footerBottomSection {
        display: flex;
        align-items: end;
    }

    #socialContainer>ul {
        list-style: none;
        display: flex;
    }

    #socialContainer>ul>li {
        margin-right: 50px;
        font-family: "Outfit Thin", sans-serif;

    }

    #socialText {
        padding-left: 40px;
    }

    .versionText, #socialText {
        font-family: "Outfit Thin", sans-serif;
        color: #EEEEEE;
    }

    #socialContainer>ul>li>a  {
        color: #EEEEEE;
        text-decoration: none;
    }

    #socialContainer {
        padding-left: 70vw;
    }

    #versionTextContainer {
        padding-left: 35px;
    }

    #miniPicture  {
        width: 200px;
        height: 200px;
        padding-left: 16vw;
        padding-top: 7vh;
    }

    #lets-work-together {
        font-family: "Outfit semiBold", sans-serif;
        font-size: 6.5em;
        color: #EEEEEE;
        padding-left: 35px;
        margin-bottom: 0;

    }

    #lets-work-together>span  {
        color: #7FC7D9;
    }

    #lets_work_together_container {
        display: flex;
    }

    #getInTouchButtonContainer {
        padding-left: 41vw;
        padding-top: 0;
    }

    #getInTouchButtonCus {
        background-color: #7FC7D9;
        border: none;
        border-radius: 55px;
        width: 300px;
        height: 90px;
        font-family: "Outfit semiBold", sans-serif;
        font-size: 2.7em;
        color: #17181C;
    }

    #FooterArrow {
        width: 300px;
        padding-left: 53vw;
        padding-top: 30px;
    }

    #FooterEmailCus {
        font-family: "Outfit semiBold",sans-serif;
        color: #EEEEEE;
        text-decoration: none;
        font-size: 2em;
    }

    #footerEmail_hr {
        height: 5px;
        width: 400px;
        background-color: #7FC7D9;
        margin-left: 0;
    }

    #FooterEmailContainer {
        padding-left: 35px;
        padding-bottom: 100px;
    }

    /*header*/

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header>div>a {
        text-decoration: none;
        font-family: "Outfit semiBold", sans-serif;
        color: #EEEEEE;
        font-size: 3em;
    }

    header>div>a>span {
        color: #7FC7D9;
    }

    header>div {
        margin-left: 100px;
    }

    header>nav>ul {
        list-style: none;
        color: #EEEEEE;
        font-family: "Outfit Medium", sans-serif;
        font-size: 2em;
        display: flex;
    }

    header>nav>ul>li {
        margin-right: 75px;
    }

    header>nav {
        margin-right: 50px;
    }

    /*image section*/

    section>div {
        display: flex;
        justify-content: space-around;
        margin-bottom: 80px;
    }

    #colorChoosePic {
        width: 950px;
        height: 550px;
    }

    #pcPic {
        width: 650px;
        height: 550px;
    }

    section>img {
        width: 1770px;
        margin-left: 65px;
        margin-bottom: 80px;
    }

    #bagPic {
        width: 500px;
        height: 500px;
    }

    #tabPic {
        width: 750px;
        height: 500px;
    }

    #Gallery {
        color: #EEEEEE;
        font-family: "Outfit Light", sans-serif;
        font-size: 5em;
        margin-left: 40vw;
        margin-top: 150px;
        margin-bottom: 100px;
    }

    div>span {
        color: #7FC7D9;
    }

    #Gallery>hr {
        height: 10px;
        width: 270px;
        margin: 15px 0 0 0;
        background-color: #7FC7D9;
    }
}